* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fade7c;
  color: #fff;
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(184, 134, 11, 0.8);
  /* border-bottom: 1px solid yellow; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 75px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .logo {
  position: relative;
  display: flex;
}
.navbar .logo .navbar-logo {
  font-family: serif;
  font-size: 2rem;
  font-weight: 700;
  color: yellow;
  font-style: italic;
}
.navbar .logo .logos {
  display: inline;
  height: 70px;
}

.navbar .logo .navbar-logo span {
  color: whitesmoke;
  display: inline-block;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: olivedrab;
}
.navbar .navbar-nav a:active {
  color: olive;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid olivedrab;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .cari {
  display: flex;
  /* background-color: black; */
}
.navbar .cari input {
  /* top: 20px;
  left: 20px; */
  background-color: rgba (100, 100, 100, 0.6);
  padding: 20px;
  opacity: 0.5;
  height: 30px;
  width: 150px;
}
.navbar .cari a#search {
  color: #fff;
  margin: 0.5rem 0.5rem;
}
.navbar .cari a#search:hover {
  color: olivedrab;
}

/* HOME */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/bg3.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: hard-light;
  position: relative;
}
.home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, #fade7c 8%, rgba(255, 255, 255, 0) 50%);
}
.home .content {
  padding: 1.4rem 7%;
  max-width: 50rem;
  text-align: center;
  padding: 0 4rem;
  margin-left: 30px;
  margin-right: -10px;
}

.home .content .atas {
  font-family: "Times New Roman", Times, serif;
}

.home .content h1 {
  font-size: 5em;
  color: olivedrab;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  font-family: serif;
}

.home .content h1 span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.home .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: olive;
  line-height: 1.4rem;
  font-weight: 100;
  text-shadow: 1px 1px 3px olivedrab;
}

.home .content .tombol-home {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  margin-top: 1rem;
  font-family: sans-serif;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 0.8rem;
  /* color: #fff; */
  background-color: seagreen;
  /* border-radius: 0.5rem; */
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.home .content .tombol-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.home .content .tombol-home:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.home .content .tombol-home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.home .content .tombol-home:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.home .sideimg {
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
.home .sideimg img {
  width: 300px;
  height: 300px;
  margin: auto;
}
/* END HOME */

/* GALL'S */
.gallery {
  padding: 5rem 7% 1.4rem;
  min-height: 100vh;
  background: linear-gradient(0deg, #fae7b9 1%, rgba(255, 255, 255, 0) 20%);
}

/* Slideshow container */
.gallery .allgal {
  min-height: 90vh;
  max-height: 90%;
  width: 70%;
  padding: 10px;
  background: linear-gradient(180deg, #fada5e 30%, rgba(255, 255, 255, 0) 50%);
  position: relative;
  margin: auto;
}
.gallery .allgal .slideshow-container {
  width: 95%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.gallery .allgal .mySlides {
  display: none;
}

.gallery .allgal .mySlides img {
  opacity: 50%;
}

/* Next & previous buttons */
.gallery .allgal .prev,
.gallery .allgal .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.gallery .allgal .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.gallery .allgal .prev:hover,
.gallery .allgal .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.gallery .allgal .text h1 {
  color: green;
  font-size: 5rem;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
  font-family: serif;
}
.gallery .allgal .text p {
  color: #5e716a;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30%;
  width: 100%;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.gallery .predot {
  margin-top: -50px;
}
.gallery .predot .dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.gallery .active,
.gallery .predot .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.gallery .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.gallery .allgal .gbr-kecil {
  /* display: block; */
  width: 95%;
  overflow: auto;
  padding-left: 40px;
}
.gallery .allgal .gbr-kecil .kecil {
  background-color: black;
  display: inline-block;
  margin: 20px 1.3% 10px;
  /* float: left; */
  width: 30%;
  height: 50vh;
  text-align: left;
}

.gallery .allgal .gbr-kecil .kecil h3 {
  position: relative;
  top: 80%;
  left: 5px;
  color: black;
  font-family: serif;
}

.gallery .allgal .gbr-kecil .kecil p {
  position: relative;
  top: 80%;
  left: 5px;
  color: grey;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* GALL'S END */

/* ABOUT START */
.about {
  display: block;
  background-color: #fae7b9;
  min-height: 100vh;
  padding: 5rem 7% 1.4rem;
}
.about h2 {
  color: #9b870d;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  margin: 20px 0 -20px 0;
  font-size: 25px;
}
.about .artist {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  width: 70%;
  min-height: 60vh;
  /* border: blue solid; */
}
.about .artist img {
  width: 200px;
  height: 200px;
  margin: auto 0;
}
.about .artist img:hover {
  border-bottom: 2px rgba(255, 255, 0, 0.7) groove;
  height: 202px;
}
.about .artist .ist {
  display: block;
  margin: auto 0;
  width: 50%;
  align-items: center;
}
.about .artist .ist h3 {
  margin: 0 10px;
  padding: 5px 0;
  color: goldenrod;
}
.about .artist .ist h1 {
  margin: 0 10px;
  font-size: 40px;
  padding: 5px 0;
  color: #ffd300;
}
.about .artist .ist p {
  display: flex;
  text-align: justify;
  margin: 0 10px;
  padding: 5px 0;
  color: grey;
}
.about .artist .ist .icons-about {
  display: flex;
  /* justify-content: space-between; */
}
.about .artist .ist .icons-about .medsos-about {
  display: flex;
  color: grey;
  fill: currentColor;
  border: grey;
  border-style: solid;
  border-radius: 9999px;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 12px 0 12px 10px;
  align-items: center;
  border-width: 1px;
}
.about .artist .ist .icons-about .medsos-about:hover {
  background-color: goldenrod;
  color: white;
  border: goldenrod;
}
/* ABOUT END */
/* CONTACT START */
.contact {
  min-height: 100vh;
  padding: 5rem 7% 1.4rem;
  /* background-color: #befb7e; */
  background: linear-gradient(
    180deg,
    #fae7b9,
    #befb7e,
    100%,
    rgba(255, 255, 255, 0) 20%
  );
}
.contact .con {
  margin: auto;
}
.contact .con h1 {
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
  color: darkgreen;
}
.contact .con p {
  margin: 20px auto;
  width: 30%;
  text-align: center;
  color: #86a17d;
}
.contact .con .tact {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.contact .con .tact .act {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
.contact .con .tact .act img {
  padding: 10px;
}
.contact .con .tact .act h3 {
  color: whitesmoke;
}
.contact .con .tact .act h1 {
  margin: 0;
}
.contact .con .tact .act p {
  width: 50%;
  margin: 0 auto;
}
.contact .con .tact .act .medsos-about {
  display: flex;
  justify-content: center;
  width: 200px;
}
/* CONTACT END */
/* FOOTER START */
.foot {
  min-height: 20vh;
  background-color: #023020;
}
/* FOOTER END */
